**/*.ipynb_checkpoints
data/*
# For protecting secrets
.Renviron
# Added with usethis::git_vaccinate()
.Rproj.user
.Rhistory
.Rdata
.DS_Store
.nextflow
*.out
*.err
manifest.json
**/*.gz
work/*
trace.txt
nextflow
.nextflow.log*