manifest {
    homePage = 'http://github.com/TheJacksonLaboratory/sbas'
    description = 'Nextflow pipeline to perform differential splicing analysis on rMATS output matrices'
    mainScript = 'main.nf'
}
params {

    // Defaults 
    skip_execution = true
    output       = 'results'

    // Required
    notebook       = false
    data           = false
    assets         = false
    model          = "AS_model_B_sex_as_events"


    // Optional
    machineType    = 'n1-standard-16'
    ontologizer    = false
    gaf            = "https://github.com/cgpu/sbas-nf/releases/download/test-sbas-nf/goa_human.gaf"
    obo            = "https://github.com/cgpu/sbas-nf/releases/download/test-sbas-nf/go.obo"

    help           = false
    echo           = true
    accelerator    = 'nvidia-tesla-p100'
}

process  {
    echo        = params.echo
//    machineType = params.machineType
    container   = 'cgpu/papermill-sbas'
    accelerator = [request: 1, type: params.accelerator ]
}

profiles {

    docker { docker.enabled = true }

    standard { 
        includeConfig 'conf/executors/google_pipelines.config'
    }
    google_pipelines { 
        includeConfig 'conf/executors/google_pipelines.config' 
        }
    testdata { 
        includeConfig 'conf/examples/testdata.config' 
        }
}
