manifest {
    homePage = 'http://github.com/TheJacksonLaboratory/sbas'
    description = 'Nextflow pipeline to perform differential splicing analysis on rMATS output matrices'
    mainScript = 'main.nf'
}
params {

    // Defaults 
    output       = 'results'

    // Required
    notebook       = false
    data           = false
    assets         = false
    model          = "AS_model_B_sex_as_events"
    analysis       = "diff_splicing"

    // Optional
    ontologizer    = false
    gaf            = "gs://cloudosinputdata/goa_human.gaf"
    obo            = "gs://cloudosinputdata/go.obo"

    help           = false
}

process.container = 'cgpu/papermill-sbas:rstan-nmd'

profiles {

    docker { docker.enabled = true }

    standard { 
        includeConfig 'conf/executors/google_pipelines.config'
    }
    google_pipelines { 
        includeConfig 'conf/executors/google_pipelines.config' 
        }
    testdata { 
        includeConfig 'conf/examples/testdata.config' 
        }
}
