manifest {
    homePage = 'http://github.com/TheJacksonLaboratory/sbas'
    description = 'Nextflow pipeline to perform differential splicing analysis on rMATS output matrices'
    mainScript = 'main.nf'
}
params {

    // Defaults 
    output       = 'results'

    // Required
    tissues_csv    = false
    notebook       = false
    data           = false
    assets         = false
    model          = "AS_model_B_sex_as_events"
    analysis       = "diff_splicing"

    // Optional
    as_site_type   = false
    top_n_events   = 100
    ontologizer    = false
    gaf            = "gs://cloudosinputdata/goa_human.gaf"
    obo            = "gs://cloudosinputdata/go.obo"

    help           = false
}

process.container = 'cgpu/papermill-sbas:rstan-nmd'

profiles {

    standard { 
        includeConfig 'conf/executors/local_gs_data.config'
    }
    local_gs_data {
        includeConfig 'conf/executors/local_gs_data.config'
        }
    google_pipelines { 
        includeConfig 'conf/executors/google_pipelines.config' 
        }
    testdata { 
        includeConfig 'conf/examples/testdata.config' 
        }
  }

// preemptiblea error strategy: https://cloud.google.com/life-sciences/docs/troubleshooting#retrying_after_encountering_errors
process {
    errorStrategy = { task.exitStatus in [3,8,10,14] ? 'retry' : 'terminate' }
    maxRetries = 20

    withName:runNotebook {
      cpus = 4
    }

    withName:ontologizer {
      container = 'cyverseuk/ontologizer'
      cpus = 4
    }
}

