docker.enabled = true

google {
    lifeSciences.bootDiskSize = 100.GB
    lifeSciences.preemptible = true
    zone = 'us-east1-b'
    network = 'jax-poc-lifebit-01-vpc-network'
    subnetwork = 'us-east1-sub2'
}

executor {
  name = 'google-lifesciences'
}

process {
    errorStrategy = { task.attempt <= 4 ? 'retry' : 'fail' }
    maxRetries = 20
    disk = "200 GB"

    withName:MapReads {
      container = 'cyverseuk/ontologizer'
    }
}



