docker.enabled = true

google {
    lifeSciences.bootDiskSize = 100.GB
    lifeSciences.preemptible = false
    zone = 'us-east1-b'
    network = 'jax-poc-lifebit-01-vpc-network'
    subnetwork = 'us-east1-sub2'
}

executor {
  name = 'google-lifesciences'
}

process {
    errorStrategy = { task.exitStatus in [3,14] ||  task.attempt <=  6 ? 'retry' : 'ignore' }
    maxRetries = 20
    disk = "200 GB"

    withName:runNotebook {
      cpus = 8
    }

    withName:ontologizer {
      container = 'cyverseuk/ontologizer'
      cpus = 4
    }
}



