docker.enabled = true

process {
	
    cache = 'lenient'
    container = 'lifebitai/samtools:1.3'

    withName: 'secondProcessName' {
        container = 'gcr.io/nextflow-250616/fastp:latest'
        cpus = 8
        memory = '31 GB'
    }
    withLabel: 'process_config_label' {
        container = 'gcr.io/nextflow-250616/postrmats:latest'
        cpus = 1
        memory = '2 GB'
    }
}