docker.enabled = false

executor {
  name = 'local'
}

// preemptiblea error strategy: https://cloud.google.com/life-sciences/docs/troubleshooting#retrying_after_encountering_errors
process {
    errorStrategy = { task.exitStatus in [3,8,10,14] ||  task.attempt <=  6 ? 'retry' : 'ignore' }
    maxRetries = 20
    disk = "200 GB"

    withName:runNotebook {
      cpus = 4
    }

    withName:ontologizer {
      container = 'cyverseuk/ontologizer'
      cpus = 4
    }
}
